/* productos.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif; /* Cambia la fuente si es necesario */
    background-image: url('../static/images/background_producto.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    color: #333; /* Color del texto */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente para el contenedor principal */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del contenedor */
}

table {
    width: 100%;
    border-collapse: collapse; /* Fusiona los bordes de las celdas de la tabla */
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Borde inferior delgado entre filas */
    text-align: left;
}

thead th {
    background-color: #f2f2f2; /* Fondo gris claro para la fila de encabezado */
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #007bff; /* Color de fondo del botón */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.btn:hover {
    background-color: #0056b3; /* Cambia el color de fondo cuando se pasa el mouse */
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-success {
    background-color: #4CAF50; /* Color de fondo verde para mensajes de éxito */
}

.alert-error {
    background-color: #f44336; /* Color de fondo rojo para mensajes de error */
}
